/* Background */
.stApp{
    background:#f8fafc;
}

/* Sidebar */
[data-testid="stSidebar"]{
    background:#1e3a8a;
}

/* Sidebar text */
[data-testid="stSidebar"] *{
    color:white;
}

/* Button */
.stButton>button{
    background:#2563eb;
    color:white;
    border:none;
    border-radius:10px;
    font-weight:bold;
}

.stButton>button:hover{
    background:#1d4ed8;
}

/* Metric Cards */
[data-testid="metric-container"]{
    background:white;
    border-radius:10px;
    padding:10px;
    border:1px solid #dbeafe;
}

/* Expanders */
div[data-testid="stExpander"]{
    border-radius:10px;
}

/* Input Boxes */
.stTextInput input{
    background:white;
    color:black;
}